element.style {
}
@media screen and (min-width: 1920px) {
    .on__dark {
        max-width: 100%;
        overflow-x: hidden;
    }
}
<style>
.on__dark {
    column-gap: 0px;
    row-gap: 0px;
    color: rgb(143, 145, 161);
    background-color: rgb(20, 25, 47);
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Söhn, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    display: flex
;
}
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body {
    color: #333;
    border-radius: 0;
    font-family: Circular, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
body {
    color: #333;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
style attribute {
    --app-height: 951px;
}
:root {
    --app-height: 100%;
}
:root {
    --white: white;
    --deb5a6: #7375b6;
    --cecce7: #ddd;
    --background-purple: #14192f;
    --black: black;
    --midnight-blue: #291f6c;
    --misty-rose: #f5cabf;
    --pink: #eebbae;
    --newton-green: #2fe1b9;
    --dim-grey: #686868;
    --hero-summary: #ffffff7d;
    --light-purple: #7375b6;
    --green-light: #2fe1b9;
    --pale: #fcfaf2;
    --ghost-white: #ecebf1;
    --grid-rules: #ddd;
    --deb1a6: #14192f;
    --misty-rose-light: #fadad2;
    --shadow-color: #c9c1b2;
    --444: #444;
    --midnight-blue-2: #291f6c17;
    --light-steel-blue: #bebfe0;
    --washed-out-lavender: #b7b9ce;
    --indian-red: #da4167;
    --yellow: #ffb900;
    --red: #d74b4b;
    --us-blue: #097be4;
    --light-text: #6e707a;
    --faq-title-light-lavender: #9698d1;
    --pink-2: transparent;
    --newton-light-green: #7aecd2;
    --white-transperent: #ffffffbf;
    --ui-error: #da4167;
    --light-border: #14192f1a;
    --green-transparent: #2fe1b966;
    --recommended-mark: #05493a;
    --silver: var(--misty-rose);
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
}
data:image/svg+xml;charset=utf-8;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiM2NjgwZTM7fS5jbHMtMntmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5ORVhfRXRoZXJldW08L3RpdGxlPjxjaXJjbGUgY2xhc3M9ImNscy0xIiBjeD0iOCIgY3k9IjgiIHI9IjgiLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMTEuMjggOC43MSA4LjAxIDEwLjY0IDguMDEgMTAuNjQgNC43NSA4LjcxIDguMDEgMTMuMzEgOC4wMSAxMy4zMSAxMS4yOCA4LjcxIi8+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjguMDEgMi42OSA0Ljc1IDguMSA4LjAxIDEwLjAyIDExLjI4IDguMSA4LjAxIDIuNjkiLz48L3N2Zz4=
